body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
}

h1 {
  color: #333;
}

#container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px;
}

#temperature {
  font-size: 24px;
  color: #333;
}

#weather {
  font-size: 18px;
  color: #666;
}

#joke {
  font-size: 18px;
  color: #444;
}


main {
  width: 280px;
  height: 500px;
  margin-top: 20px;
  margin-left: 40%;
  border: 5px solid #393230;
  border-radius: 40px;
  align-items: center;
}

#food-photo {
  max-width: 100%; /* Voeg deze regel toe */
  max-height: 100%; /* Voeg deze regel toe */
}
.circle {
  width: 40px;
  height: 40px;
  background-color: #393230;
  border-radius: 50%;
  align-self: center;
  margin-left: 41%;

}